@{
    ViewData["Title"] = "Home Page";
}


<button type="button" class="btn btn-success">Add New State</button>
<table class="table table">
    <thead>
        <tr>
            <th scope="col">Country Name</th>
            <th scope="col">State Name</th>
            <th scope="col">State Code</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>China</td>
            <td>Madhya Pradesh</td>
            <td>MP</td>
            <td>
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Gujarat</td>
            <td>Guj</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Gujarat</td>
            <td>10</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Maharastra</td>
            <td>054</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Pakistan</td>
            <td>PK</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Pakistan</td>
            <td>Pk</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        
    </tbody>
</table>
