@{
    ViewData["Title"] = "Home Page";
}


@*<button type="button" class="btn btn-success">Add New State</button>
<table class="table table">
    <thead>
        <tr>
            <th scope="col">Country Name</th>
            <th scope="col">State Name</th>
            <th scope="col">State Code</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>China</td>
            <td>Madhya Pradesh</td>
            <td>MP</td>
            <td>
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Gujarat</td>
            <td>Guj</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Gujarat</td>
            <td>10</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Maharastra</td>
            <td>054</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Pakistan</td>
            <td>PK</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <td>India</td>
            <td>Pakistan</td>
            <td>Pk</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        
    </tbody>
</table>*@


<h3>ADD/EDIT</h3>
<br />
<form>
    <div class="row">
        <div class="col">
            Select Country
            <input type="text" class="form-control" placeholder="Select Country">
        </div>
        <div class="col">
            Select State
            <input type="text" class="form-control" placeholder="Enter State">
        </div>
        <div class="col">
            Select State Code
            <input type="text" class="form-control" placeholder="State Code">
        </div>
    </div>
</form>
<br />

<button type="button" class="btn btn-success">Add New State</button>
<table class="table">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">Country Name</th>
            <th scope="col">State Name</th>
            <th scope="col">State Code</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">India</th>
            <td>Gujarat</td>
            <td>1</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <th scope="row">USA</th>
            <td>Los angeles</td>
            <td>2</td>
            <td><button type="button" class="btn btn-danger">Delete</button> <button type="button" class="btn btn-info">Edit</button></td>
        </tr>
        <tr>
            <th scope="row">England</th>
            <td>London</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <th scope="row">England</th>
            <td>London</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
        <tr>
            <th scope="row">England</th>
            <td>London</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info">Edit</button>
            </td>
        </tr>
    </tbody>
</table>